@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Old+Standard+TT&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/*  General styles          */
html{
    font: normal 14px sans-serif;
    font-family: 'Abahay Libre',sans-serif;
    scroll-behavior: smooth !important;
}
body{
    width: 100%;
    background-color: #c5c0b9;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
}
.card{
    display: block;
    align-items: center;
}
.btn_call_to_action{
    border-radius: 54px;
    align-self: center;
    text-align: center;
    background-color: #e97810;
}

/*  Header navigation       */
#header-placeholder{
    width: 100%;
    background-color: #525252;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-placeholder .logo{
    width: 20%;
    display: flex;
    padding-left: 2%;
    margin: auto 0;
}
#header-placeholder .logo img{
    width: 25%;

}
#header-placeholder .logo h1{
    color: #c5c0b9;
}
#header-placeholder nav{
    width: 60%;
    display: flex;
    float: right;
    text-transform: uppercase;
}
#header-placeholder nav li{
    list-style: none;
    margin: auto;
}
#header-placeholder nav li a{
    color: #c5c0b9;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
}
#header-placeholder nav li a:hover{
    text-decoration: solid;
    color: #fff;
    font-weight: bold;
}

/*  Section Home            */
#Home{
    display: block;
}
#Home img{
    width: 55%;
    display: block;
}
#Home .card{
    width: 30%;
    align-items: center;
    text-align: center;
    margin: auto;
}
#Home .card *{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 5%;
}
#Home .card .btn_call_to_action{
    padding: 1%;
    width: 30%;
    display: inline-block;
    text-align: center;
}

/*  Section Our-Work        */
#Our-Work {
    text-align: center;
}
#Our-Work h2{
    padding: 5% 0;
}
#Our-Work .container{
    width: 80%;
    margin: auto;
}
#Our-Work .container .card{
    width: 15%;
    text-align: center;
    margin: auto;
}
#Our-Work .container .card *{
    margin: 20% 0;
}
#Our-Work .container .card img{
    width: 90%;
}



